body {
	font-family: 'Varela Round', sans-serif;
}
.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
h1 {
	text-align: center;
	font-size: 44px;
	margin: 60px 0 -15px;
	color: rgba(0, 0, 0, 0.08);
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control,
.modal-login .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -60px;
	width: 120px;
	height: 120px;
	z-index: 9;
	padding: 5px;
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 100px;
}
.modal-login .btn {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
	background: #45aba6;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

form {
	margin-top: 40px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.caem {
	font-size: 20pt;
	margin: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.05);
}

.umai {
	font-size: 14pt;
	margin: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.05);
}

.subdir {
	font-size: 14pt;
	margin: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 1440px) {
	.modal-login .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -60px;
		width: 120px;
		height: 120px;
		z-index: 9;
		padding: 5px;
	}
	.modal-login {
		height: 90px;
	}
	.modal-login.modal-dialog {
		margin-top: 200px;
	}
	form {
		margin-top: 50px;
	}
}
